body {
    background-color: #3498db;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

header h2 {
    color: green;
}

header > h2 {
    color: yellow;
}

ul > li:first-child {
    color: blue;
}

ul > li:nth-child(2) {
    color: silver;
}

ul > li:last-child {
    font-weight: 800;
    list-style: none;
}

a[href^="https"] {
    text-decoration: overline;
}

a[href*="gogoanime"] {
    text-decoration: line-through;
}

a[href$="github.io"] {
    font-size: 32px;
}

img {
    width: 300px;
    border-radius: 50%;
}

.list-container {
    width: 300px;
    margin: auto;
}

ul, ol {
    text-align: left;
}

.fadeOut {
    opacity: 0;
    transition: all 300ms;
}

.fadeIn {
    opacity: 1;
    transition: all 300ms;
}



#page2 {
    display: none;
}
