img {
    height: 350px;
    float: left;
    width: 30%;
    margin: 1.66%;
    border-radius: 50%;
    transition: all 500ms;
}

p {
    margin-left: 1.66%;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 800;
    color: #bdc3c7;
    border-bottom: 2px solid #bdc3c7;
    width: 20%;
    padding-bottom: 20px;
}